body {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}


/* LOL sis fakt myslel, že tady bude nějaké CSS? xdd hhihii opička */