.App {
  text-align: center;
  min-height: 100vh;
  display:flex; 
  flex-direction:column; 
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-link {
  width: 200px;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  padding: 0.5em 0;
  margin: auto 0;
  transition: background-color 0.5s ease;
}

.nav-link:hover {
  background-color: rgb(219, 251, 255);
}

.nav-link:focus {
  outline: none;
  border-bottom: 1px solid;
  margin-bottom: -1px;
}

.page-error {
  color: red;
}

.bottom-nav-wrapper {
  width: 100%;
  height: 2em;
  margin-top:auto; 
  background-color: rgb(241, 241, 241);
  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* LOL sis fakt myslel, že tady bude nějaké CSS? xdd hhihii opička */